<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.habittracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitTracker">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <activity android:name=".activities.eventlist.EventDetailActivity"
            android:parentActivityName=".activities.eventlist.EventListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.eventlist.EventListActivity" />
        </activity>

        <activity
            android:name=".activities.eventlist.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.eventlist.LocationActivity"
            android:exported="true" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProgressTrackingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.sharing.SharingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.profile.ProfileLoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.profile.ProfilePendingFollowersActivity"
            android:exported="true" />
        <activity
            android:name=".activities.profile.ProfileFollowersActivity"
            android:exported="true" />
        <activity
            android:name=".activities.profile.ProfileFollowingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.eventlist.EventListActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ListActivity"
            android:exported="true" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.HabitViewActivity"
            android:exported="true" />
        <activity
            android:name=".HabitActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>